@charset "UTF-8";

header {
  border-bottom: 0.5px solid black;
    background-color: #ffffff;
}

header .go-to-top .logo {
  background-image: url('../images/logo_black.png');
}

.menu-txt.menuportfolio {
  font-weight: bold;
}

main {
  margin-top: 80px;
height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 레이아웃 컨테이너 */
.project-overview {
  width: 90%;
  height: 95%;
  margin: 0;
}


/* 그리드: [큰 이미지 1개 + 작은 8개] = 총 9칸 */
.overview-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr; /* 왼쪽은 넓게, 오른쪽 4열 */
  grid-auto-rows: 1fr;                        /* 행 높이 균등 */
  gap: auto;
}

/* 셀 공통 */
.cell {
  background: #ddd;
  overflow: hidden;
  margin-right: 10px;
}

/* 큰 이미지: 세로 2행 차지, 3:4 비율 권장 */
.cell--hero {
  grid-row: span 2;     /* 세로 2행 차지 */
  grid-column: 1 / 2;   /* 첫 번째 열 고정 */
  aspect-ratio: 3 / 4;  /* 가로:세로 */
}

/* 작은 이미지: 정사각 1:1 */
.cell:not(.cell--hero) {
  aspect-ratio: 1 / 1;
}

/* 이미지 채우기 */
.cell img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overview-grid .cell:nth-child(1) img,
.overview-grid .cell:nth-child(2) img,
.overview-grid .cell:nth-child(4) img,
.overview-grid .cell:nth-child(5) img,
.overview-grid .cell:nth-child(6) img{
  object-position: top;
}

/* 텍스트 영역 */
.overview-meta {
  margin-top: 2%;
text-align: left;
}
.overview-title {
  font-size: var(--title-size-sxx)
}
.overview-desc {
  margin-top: 6px;
  font-size: var(--desc-size-sm);
  color: #444;
}

.overview-desc:nth-child(3){padding-bottom: 5%;}


/* 반응형 */
@media (max-width: 1024px) {
  .overview-grid {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

}
@media (max-width: 520px) {
  /* 모바일: 단일 컬럼으로 순차 배치 */
  .overview-grid {
    grid-template-columns: 1fr;
  }
  .cell--hero {
    grid-column: auto;
    grid-row: auto;
    aspect-ratio: 1/1;
  }
.overview-meta{height: 200px; }
.overview-desc:nth-child(3){padding-bottom: 20%;}
}


footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.footer-txt {
  color: #afafaf;
  font-size: var(--desc-size-sxx);
}
